<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.website.mapper.WebSiteMusicMapper">
  <resultMap id="BaseResultMap" type="com.website.entites.WebSiteMusic">
    <id column="banner_id" jdbcType="INTEGER" property="bannerId" />
    <result column="banner_title" jdbcType="VARCHAR" property="bannerTitle" />
    <result column="banner_url" jdbcType="VARCHAR" property="bannerUrl" />
  </resultMap>
  <sql id="Base_Column_List">
    banner_id, banner_title, banner_url
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from website_banner
    where banner_id = #{bannerId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from website_banner
    where banner_id = #{bannerId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.website.entites.WebSiteMusic">
    insert into website_banner (banner_id, banner_title, banner_url
      )
    values (#{bannerId,jdbcType=INTEGER}, #{bannerTitle,jdbcType=VARCHAR}, #{bannerUrl,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.website.entites.WebSiteMusic">
    insert into website_banner
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bannerId != null">
        banner_id,
      </if>
      <if test="bannerTitle != null">
        banner_title,
      </if>
      <if test="bannerUrl != null">
        banner_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bannerId != null">
        #{bannerId,jdbcType=INTEGER},
      </if>
      <if test="bannerTitle != null">
        #{bannerTitle,jdbcType=VARCHAR},
      </if>
      <if test="bannerUrl != null">
        #{bannerUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.website.entites.WebSiteMusic">
    update website_banner
    <set>
      <if test="bannerTitle != null">
        banner_title = #{bannerTitle,jdbcType=VARCHAR},
      </if>
      <if test="bannerUrl != null">
        banner_url = #{bannerUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where banner_id = #{bannerId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.website.entites.WebSiteMusic">
    update website_banner
    set banner_title = #{bannerTitle,jdbcType=VARCHAR},
      banner_url = #{bannerUrl,jdbcType=VARCHAR}
    where banner_id = #{bannerId,jdbcType=INTEGER}
  </update>
    <select id="selectByPageNum" resultMap="BaseResultMap">
    	select * from website_music WHERE website_user_id = #{3} order by website_music_user_id desc limit #{0},#{1};
  </select>

    <select id="findAll" resultMap="BaseResultMap">
        select * from website_music WHERE website_user_id = #{0} order by website_music_user_id desc;
    </select>
</mapper>